div.page-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

header.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #4f646f;
}

div.left-nav {
  gap: 1.5rem;
  justify-content: start;
  align-content: center;
}

div.center-nav {
  flex: 2 0 0;
  justify-content: end;
}

/* div.right-nav { */
/*   justify-content: end; */
/* } */
    
ul {
  list-style: none;
}

li {
  display: inline;
}

a, button {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 1rem;
  transform: translateY(0);
  transition: color, transform 0.2s ease-out;
}

a:hover {
  color: #d17b0f;
  transform: translateY(-5%);
  transition: color, transform 0.2s ease-in;
  cursor: pointer;
}
